[user]
	name  = Hayato Kawai
	email = fohte.hk@gmail.com
	signingkey = Fohte

[core]
	pager = less -R
	excludesfile = ~/.gitignore_global

[color]
	ui = always

[push]
	default = current

[url "git@github.com:"]
	pushInsteadOf = https://github.com/
	pushInsteadOf = git://github.com/
	insteadOf = https://github.com/
	insteadOf = git://github.com/
	insteadOf = gh:

[alias]
	amend = commit --amend

[merge]
	ff = false
[pull]
	rebase = preserve
[commit]
	gpgsign = true
[gpg]
	program = gpg2
[diff]
	algorithm = histogram
[github]
	user = fohte
[status]
	showUntrackedFiles = all
[include]
	path = ~/.local/.gitconfig
