[user]
	name  = Hayato Kawai
	email = fohte.hk@gmail.com

[core]
	pager = less -R
	excludesfile = ~/.gitignore_global

[color]
	ui = auto

[push]
	default = current

[url "git@github.com:"]
	pushInsteadOf = https://github.com/
	pushInsteadOf = git://github.com/
	insteadOf = https://github.com/
	insteadOf = git://github.com/
	insteadOf = gh:

[alias]
	amend = commit --amend

	a   = add
	aa  = add -A .
	ap  = add -p

	br  = branch

	ch  = checkout
	cb  = checkout -b

	c   = commit
	ca  = commit -a
	cm  = commit -m
	cam = commit -am
	co  = commit --amend --no-edit

	d   = diff
	ds  = diff --staged

	f   = fetch -p

	l   = log --pretty=format:'%Cred%h%Creset - %s%C(yellow)%d%Creset' --graph --abbrev-commit -n 15 --branches

	m   = merge

	s   = status

	ss  = stash save
	sp  = stash pop

	p   = push

	pl  = pull

	rb  = rebase
	rbi = rebase -i

	r   = reset
	rs  = reset --soft
	rh  = reset --hard

[merge]
	ff = false
[pull]
	rebase = preserve
