[user]
  name  = Hayato KAWAI
  email = g@fohte.net

[core]
  pager = less -R

[color]
  ui = auto

[push]
  default = current

[alias]
  a  = add
  aa = add -A .
  ap = add -p

  br = branch

  ch = checkout
  cb = checkout -b

  c   = commit
  ca  = commit -a
  cm  = commit -m
  cam = commit -am
  cc  = commit --amend --allow-empty-message -m ''

  d  = diff
  ds = diff --staged

  f = fetch -p

  l  = log --pretty=format:'%Cred%h%Creset - %s%C(yellow)%d%Creset' --graph --abbrev-commit --date=relative -n 15 --branches

  m  = merge

  s  = status --short --branch

  ss = stash save
  sp = stash pop

  p = push

  pl = pull

  rb = rebase

  rs = reset --soft
  rh = reset --hard

[merge]
  ff = false
