snippet cmd
	//cmd{
	$1
	//}

snippet code
	@<code>{$1}

snippet b
	@<b>{$1}

snippet fn
	@<fn>{$1}

snippet footnote
	//footnote[$1][$2]

snippet @
	@<$1>{$2}

snippet column
	====[column]{$1} $2

snippet fixme
	#@# FIXME: $1
