root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# shfmt (github.com/mvdan/sh)
space_redirects = true
switch_case_indent = true

# Markdown
[*.md{,x}]
trim_trailing_whitespace = false

# Go
[*.go]
indent_style = tab
indent_size = 4

# Python
[*.py]
indent_size = 4

# Haskell
[*.hs]
indent_size = 4

[*.rs]
indent_size = 2

# snippets
[*.{snip,snippets}]
indent_style = tab
indent_size = 4

[.gitconfig]
indent_style = tab
indent_size = 4

[{Makefile,*.mk}]
indent_style = tab

[*.diff]
trim_trailing_whitespace = false
