snippet def
def ${1:method_name}${2:(${3:*args, **kwargs})}
	${0:# TODO}
end
endsnippet

snippet doc "yard docs"
# ${1:method_description}
# @param ${2:param_name} [${3:type}] ${4:param_description}
# @return [${5:type}] ${6:return_value_description}
endsnippet
