[user]
	name  = Hayato Kawai
	email = fohte.hk@gmail.com
	signingkey = Fohte

[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = ~/.gitignore_global
	commentchar = ";"

[push]
	default = current
	followTags = true

[url "git@github.com:"]
	pushInsteadOf = https://github.com/
	pushInsteadOf = git://github.com/
	insteadOf = https://github.com/
	insteadOf = git://github.com/
	insteadOf = gh:

[alias]
	amend = commit --amend

[merge]
	ff = false
	conflictStyle = diff3
[pull]
	rebase = preserve
[commit]
	gpgsign = true
[gpg]
	program = gpg
[diff]
	algorithm = histogram
[github]
	user = fohte
[status]
	showUntrackedFiles = all
[include]
	path = ~/.local/.gitconfig
[init]
	templatedir = ~/.git_templates

[ghq]
	root = ~/.ghq
	root = ~/.go
	root = ~/.cache/dein/repos
[color "diff-highlight"]
	oldNormal = red
	oldHighlight = red bold 239
	newNormal = green
	newHighlight = green bold 239
[rebase]
	autosquash = true
