name: Validate Renovate Config

on:
  push:
    paths:
      - .github/workflows/validate-renovate.yml
      - renovate.json5

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 'latest'
      - run: npx --package renovate -c 'renovate-config-validator renovate.json5'
